
/* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
    * {
  box-sizing: border-box;
}

#content2 {
float: left;
padding: 10px;
margin: 20px;
background: #666;
border: 5px solid #ccc;
width: 300px; 
/* ie5win fudge begins */
voice-family: "\"}\"";
voice-family:inherit;
width: 270px;
}

#content {
float: left;
padding: 10px;
margin: 20px;
background: #666;
border: 5px solid #ccc;
width: 300px; 
/* ie5win fudge begins */
voice-family: "\"}\"";
voice-family:inherit;
width: 270px;
}

body {
  background: #2A2E37;
}

.search {
  width: 70px;
  height: 70px;
  margin: 30px 0;
  background-color: #282c31a8;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
}
.search:before {
  content: '';
  display: block;
  width: 3px;
  height: 100%;
  position: relative;
  background-color: #00FEDE;
  transition: all 0.5s ease;
}
.search.open {
  width: 350px;
}
.search.open:before {
  height: 60px;
  margin: auto;
  position: absolute;
}

.search-box {
  width: 100%;
  height: 100%;
  box-shadow: none;
  border: none;
  background: transparent;
  color: #fff;
  padding: 20px 60px 20px 20px;
  font-size: 20px;
}
.search-box:focus {
  outline: none;
}

.search-button {
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px;
  cursor: pointer;
}

.search-icon {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  border: 3px solid #00FEDE;
  display: block;
  position: relative;
  margin-left: 30px;
  transition: all 0.5s ease;
}
.search-icon:before {
  content: '';
  width: 3px;
  height: 10px;
  position: absolute;
  right: -1px;
  top: 26px;
  display: block;
  background-color: #00FEDE;
  transform: rotate(-45deg);
  transition: all 0.5s ease;
}
.search-icon:after {
  content: '';
  width: 3px;
  height: 15px;
  position: absolute;
  right: -10px;
  top: 32px;
  display: block;
  background-color: #00FEDE;
  transform: rotate(-45deg);
  transition: all 0.5s ease;
}
.open .search-icon {
  margin: 100;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.open .search-icon:before {
  transform: rotate(52deg);
  right: 20px;
  top: 20px;
  height: 18px;
}
.open .search-icon:after {
  transform: rotate(-230deg);
  right: 20px;
  top: 9px;
  height: 18px;
}


a,
span,
h1,
h2,
h3,
span {
  text-decoration: none;
  color: #b2b2b2;
}

#edit {display: flex; justify-content: space-between;}
#content {
float: left;
padding: 10px 2% 10px 2%;
margin: 30px 0px 0px 0px;
background: rgba(149, 157, 165, 0.1);
border: 0px;
width: 50%; /* ie5win fudge begins */
voice-family: "\"}\"";
voice-family:inherit;
width: 48%;
}
html>body #content {
width: 47%;
color: #b2b2b2;
/* ie5win fudge ends */
}

#show {
float: left;
padding: 10px 2% 10px 2%;
margin: 30px 10px 0px 0px;
background: rgba(225, 225, 225, 0.17);
border: 0px;
width: 50%; /* ie5win fudge begins */
voice-family: "\"}\"";
voice-family:inherit;
width: 48%;
height:680px;
}
html>body #show {
width: 47%;
color: #b2b2b2;
/* ie5win fudge ends */
}

body{
background-color:#333641}

.hljs-comment,.hljs-quote {
  color:#000000
}
.hljs-variable,.hljs-template-variable,.hljs-attribute,.hljs-tag,.hljs-name,.hljs-selector-id,.hljs-selector-class,.hljs-regexp,.hljs-link,.hljs-deletion {
  color:#dd464c
}
.hljs-number,.hljs-built_in,.hljs-builtin-name,.hljs-literal,.hljs-type,.hljs-params {
  color:#fd8b19
}
.hljs-class .hljs-title {
  color:#fdcc59
}
.hljs-string,.hljs-symbol,.hljs-bullet,.hljs-addition {
  color:#8fc13e
}
.hljs-meta {
  color:#149b93
}
.hljs-function,.hljs-section,.hljs-title {
  color:#1290bf
}
.hljs-keyword,.hljs-selector-tag {
  color:#c85e7c
}
.hljs {
  display:block;
  background:#322931;
  color:#b9b5b8;
  padding:0.5em
}
.hljs-emphasis {
  font-style:italic
}
.hljs-strong {
  font-weight:bold
}