@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(http://weloveiconfonts.com/api/?family=entypo);
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

[class*="entypo-"] {
  width: 1em;
  height: 1em;
}

body {
  background: #252827;
  font-family: 'Raleway', sans-serif;
}

a,
span,
h1,
h2,
h3,
span {
  text-decoration: none;
  color: #999;
}

a:hover {
  color: #777;
}

h1 {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1.5px;
  color: #999;
  font-weight: 100;
  font-size: 2.4em;
  margin: 0;
  border-bottom: 1px solid #777;
  padding-bottom: 0.2em;
}

h2 {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1.5px;
  color: #999;
  font-weight: 100;
  font-size: 1.0em;
}

#content {
  margin-top: 50px;
  text-align: center;
}

.timeline {
  border-left: 0.25em solid #4298c3;
  background: rgba(255, 255, 255, 0.1);
  margin: 2em auto;
  line-height: 1.4em;
  padding: 1em;
  padding-left: 3em;
  list-style: none;
  text-align: left;
  margin-left: 10em;
  margin-right: 3em;
  border-radius: 0.5em;
  min-width: 22em;
}

.event {
  min-width: 20em;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
  position: relative;
}

.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 1em;
}

.timeline .event:before {
  left: -15em;
  color: rgba(255, 255, 255, 0.8);
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  min-width: 9em;
}

.timeline .event:after {
  box-shadow: 0 0 0 0.2em #4298c3;
  left: -3.5em;
  background: #313534;
  border-radius: 50%;
  height: 0.75em;
  width: 0.75em;
  content: "";
}

.timeline .event .member-location,
.timeline .event .member-parameters {
  display: none;
}

.timeline .event:last-of-type .member-location,
.timeline .event:last-of-type .member-parameters {
  display: block;
}

.member-infos {
  padding: 10px;
  text-align: left;
  position: relative;
}

.member-infos > h1 {
  font-weight: bold;
  font-size: 1.4em;
}

.member-location a:before {
  margin-right: 5px;
}

.member-location {
  text-indent: 2px;
}

.follow,
.options {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: #D3D3D3;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  box-shadow: 0 2px 0 0 #C0C0C0;
  border-radius: 3px;
  display: inline-block;
}

.follow:hover,
.options:hover {
  box-shadow: 0 1px 0 0 #C0C0C0;
  box-sizing: border-box;
  vertical-align: bottom;
  margin-bottom: -1px;
}

.member-socials {
  display: inline-block;
  font-weight: bold;
  vertical-align: bottom;
  line-height: 8px;
  float: right;
}

.member-socials li {
  display: inline-block;
}

.shots-number,
.followers {
  font-weight: normal;
  display: block;
  margin-top: 10px;
  font-size: 0.9em;
}

.member-contact {
  position: absolute;
  right: 10px;
  top: 10px;
}

.member-contact li {
  display: inline-block;
  margin-left: 10px;
}

.member-shots-number {
  padding-right: 6px;
  border-right: 1px solid rgba(0, 0, 0, 0.06);
  margin-right: 6px;
  margin-left: 6px;
}